---
layout: page
permalink: "/coach-mara"

title: "Coach Mara"

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
    actions:
        - url: "https://www.instagram.com/maraislostagain/"
          label: "<i class='fab fa-instagram'></i> Mara auf Instagram"

excerpt: ""

image-text-row:
    - excerpt: "Freude am Stärker werden stellt eines meiner Grundprinzipien dar.
Der beste Plan ist der, den du langfristig in deinen Alltag integrieren kannst und an dem du auch Spaß hast.
Daher steht für mich der Weg zum Ziel und dein Wohlbefinden, sowohl physisch als auch psychisch, an vorderster Stelle.
Wichtig für mich sind: eine offene Kommunikation, angepasst an deine Bedürfnisse und eine prozessorientierte Denkweise.
Es gibt keine Shortcuts, also lass uns trainieren!"
      image-url: "/assets/images/home/mara.webp"
      alt-text: "Kraftkollektiv Powerlifting Coach Mara"
      image-width: "400px"
      image-right: false
---

{% include image-text-row %}


<div class="only-desktop">

    <br><br>

</div>

<div class="only-mobile">

    {% include video id="YffjnUALZvo" provider="youtube" %}

    <br><br>

</div>

<div class="box-container">

    <div class="box facts-box box--primary box-third">
        Standort: Freiburg
    </div>

    <div class="box facts-box box--primary box-third">
        Liebt Kaffee
    </div>

    <div class="box facts-box box--primary box-third">
        „Wenn du an deine Träume glaubst, werde ich dir beweisen, dass du deine Träume allein durch harte Arbeit erreichen kannst.“ ~ Rock Lee
    </div>

</div>

<br><br>

<div class="only-desktop">

{% include video id="YffjnUALZvo" provider="youtube" %}

</div>