---
layout: page
permalink: "/coach-robert"

title: "Coach Robert"

header:
    overlay_image: /assets/images/robert_header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
    actions:
        - url: "https://www.instagram.com/robert_roeder2/"
          label: "<i class='fab fa-instagram'></i> Robert auf Instagram"

excerpt: ""

image-text-row:
    - excerpt: "In meiner Arbeit als Powerlifting-Coach setze ich auf eine Mischung aus fundiertem Wissen und
praktischer Umsetzung. Mir ist es wichtig, dass die Trainingspläne nicht nur auf wissenschaftlichen Erkenntnissen
basieren, sondern auch gut in den Alltag meiner Athlet:innen passen. Statt stur an festen Theorien festzuhalten,
passe ich die Pläne flexibel an die individuellen Bedürfnisse und die momentane Lebenssituation meiner Athlet:innen an.
So können sie langfristig erfolgreich sein und kontinuierliche Fortschritte erzielen."
      image-url: "/assets/images/home/robert.webp"
      alt-text: "Kraftkollektiv Powerlifting Coach Robert"
      image-width: "400px"
      image-right: false
---

{% include image-text-row %}

<br><br>

<div class="box-container">

    <div class="box facts-box box--primary box-third">
        Standort: Köln
    </div>

    <div class="box facts-box box--primary box-third">
        mein Chess.com Elo ist nur bei 900
    </div>

    <div class="box facts-box box--primary box-third">
        “The difference between a novice and a master is that a master has failed more times than a novice has tried.” - Koro Sensei
    </div>

</div>

<br><br>

{% include video id="iI8zwRLuVYE" provider="youtube" %}

