---
layout: page
permalink: "/coach-kilian"

title: "Coach Kilian"

header:
    overlay_image: /assets/images/kilian_header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)
    actions:
        - url: "https://www.instagram.com/kielthekiel/"
          label: "<i class='fab fa-instagram'></i> Kilian auf Instagram"

excerpt: ""

image-text-row:
    - excerpt: "Wissen ist Macht! Stetig mehr zu erfahren und zu lernen treibt mich sowohl selbst als Athlet,
aber natürlich auch als Coach an. Doch auch ein nach bestem Wissen und Erkenntnissen erstellter Plan nützt nichts,
wenn er nicht zuverlässig ausgeführt wird. Spaß und eine sinnvolle Unterbringung sollten immer ganz weit oben stehen.
Kraftsport ist eine lange Reise, Kontinuität schlägt unregelmäßige intensive Phasen."
      image-url: "/assets/images/home/kilian.webp"
      alt-text: "Kraftkollektiv Powerlifting Coach Kilian"
      image-width: "400px"
      image-right: false
---

{% include image-text-row %}

<br><br>

<div class="box-container">

    <div class="box facts-box box--primary box-third">
        Standort: Berlin
    </div>

    <div class="box facts-box box--primary box-third">
        Dackel sind mein Leben
    </div>

    <div class="box facts-box box--primary box-third">
        Bleib dabei und streng dich an, dann wirst du groß und stark, wie meine Topfpflanzen!
    </div>

</div>

<br><br>

{% include video id="wXqGtvpg0eY" provider="youtube" %}

